<div class="bg-dark-purple rounded-xl">
    <div class="">
        <h2 class="mb-2 font-semibold text-lg px-5 pt-5">Recommended</h2>
    </div>
    <a href="" class="">
        <div class="border-gray-800 border-b hover:opacity-60 transition ease-in-out duration-200 px-5 pb-3">
            <p class="mb-0 text-sm text-gray-500">Crypto · Last night</p>
            <p class="mb-0">Bitcoin continues to rise <br> Reaching highs of $50.000</p>
            <p class="mb-0 text-sm text-gray-500">422.224 posts</p>
        </div>
    </a>
    <a href="" class="">
        <div class="border-gray-800 border-b hover:opacity-60 transition ease-in-out duration-300 px-5 py-3">
            <p class="mb-0 text-sm text-gray-500">Technology · Trending</p>
            <p class="mb-0">#Microservices</p>
            <p class="mb-0 text-sm text-gray-500">12.204 posts</p>
        </div>
    </a>
    <a href="" class="">
        <div class="border-gray-800 border-b hover:opacity-60 transition ease-in-out duration-300 px-5 py-3">
            <p class="mb-0 text-sm text-gray-500">Gaming · Trending</p>
            <p class="mb-0">#CSGO</p>
            <p class="mb-0 text-sm text-gray-500">8.144 posts</p>
        </div>
    </a>
    <a href="" class="">
        <div class="border-gray-800 border-b hover:opacity-60 transition ease-in-out duration-300 px-5 py-3">
            <p class="mb-0 text-sm text-gray-500">Technology · Survey</p>
            <p class="mb-0">Developers keep choosing <br> strongly typed languages <br> over interpreted languages</p>
        </div>
    </a>
    <a href="" class="">
        <div class="border-gray-800 hover:opacity-60 transition ease-in-out duration-300 px-5 py-3">
            <p class="mb-0 text-sm text-gray-500">Technology · Trending</p>
            <p class="mb-0">#VS2022</p>
            <p class="mb-2 text-sm text-gray-500">10.326 posts</p>
        </div>
    </a>
</div>

@code {

}