@inherits LayoutComponentBase


<div class="page">
    <CascadingValue Value="_userId" Name="UserId">
        <CascadingValue Value="_username" Name="Username">
            <div class="sidebar">

                <NavMenu/>
            </div>

            <main>
                <div class="top-row px-4 auth">
                    <LoginDisplay/>
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </CascadingValue>
    </CascadingValue>
</div>


@code {

    [Inject]
    public AuthService? AuthService { get; set; }

    private string _userId = string.Empty;
    private string _username = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (AuthService == null)
            return;

        var user = await AuthService.GetCurrentUser();

        if (user != null)
        {
            _userId = user.GetUserId();
            _username = user.GetUsername();
        }
    }

}