<div class="top-row ps-3">
    <div class="">
        <a href="" class="h-14"><img class="w-28 mx-auto" src="images/logo.svg" alt="logo" /></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link px-2" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3 cursor-pointer">
            @if (string.IsNullOrEmpty(Username))
            {
                <NavLink class="nav-link px-2" href="authentication/login">
                    <span class="oi oi-plus" aria-hidden="true"></span> Profile
                </NavLink>
            }
            else
            {
                <NavLink class="nav-link px-2" href="@Username">
                    <img class="w-6" src="images/user.svg" alt="user" aria-hidden="true" /> <span class="ml-2">Profile</span>
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    [CascadingParameter(Name = "Username")]
    public string? Username { get; set; }
    
    [Inject]
    public NavigationManager? NavigationManager { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void NavigateToProfileOrAuthenticate()
    {
        if (NavigationManager == null)
            return;
        
        if (Username == null)
        {
            NavigationManager.NavigateTo("authentication/login");
            return;
        }
        NavigationManager.NavigateTo(Username);
    }
}
