@if (PostDto != null)
{
    <div class="comment-container border border-opacity-25 rounded-md mb-4">
        <div class="p-5">
            <a href="" class="space-x-1">
                <p class="inline-block hover:underline mb-5 font-semibold">@PostDto.User.DisplayName</p>
                <p class="inline-block text-gray-500 text-sm hover:underline">@@@PostDto.User.Username</p>
            </a>
            <p class="mb-5">@PostDto.Body</p>
            <div class="space-x-10">
                <button>
                    <img class="w-5 inline-block" src="images/comment.svg" alt="comment" />
                    <span class="inline-block">@PostDto.CommentsCount</span>
                </button>

                <button>
                    <img class="w-5 inline-block" src="images/star.svg" alt="comment" />
                    <span class="inline-block">@PostDto.LikesCount</span>
                </button>

                <button>
                    <img class="w-5 inline-block" src="images/share.svg" alt="share" />
                </button>
            </div>
        </div>
    </div>

}

@code {

    [Parameter]
    public PostDto? PostDto { get; set; }

}