@page "/"
<PageTitle>Index</PageTitle>

<div class="lg:grid grid-cols-4">
    <div class="col-span-3 mx-auto lg:w-4/5">
        <AuthorizeView>
            <PostForm></PostForm>
        </AuthorizeView>
        <Posts></Posts>
    </div>
    <div>
        <Featured></Featured>
    </div>
</div>
