@page "/{username}"

<PageTitle>@Username - Likr</PageTitle>

<div class="lg:grid lg:grid-cols-4">
    <div class="lg:col-span-3">
        <div class="w-5/6 mx-auto">
            <Posts Username="@Username"></Posts>
        </div>

    </div>
    <div class="invisible  lg:visible">
        <Featured></Featured>
    </div>
</div>

@code {

    [Parameter]
    public string? Username { get; set; }

}